---
layout: content-page
---

<!DOCTYPE html>
<html lang="en" style="height: 100%;">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Spectral+SC" rel="stylesheet">
    <script type="text/javascript" src="{{site.baseurl}}/vendor/jquery-3.3.1.min.js"></script>

    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="{{site.baseurl}}/css/styles.css">
    <link rel="canonical" href="http://example.com/">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="http://example.com/feed.xml">

        <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119418381-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-119418381-1');
    </script>
</head>

<body style="height: 100%; margin: 0 auto; display: flex; flex-direction: column; background-color: #d2d8e0;">

	{% include header.html %}
    <section class="main" style="flex: 1;">
        {{ content }}
    </section>
	{% include footer.html %}
</body>
</html>