---
layout: home-page
---

<!DOCTYPE html>
<html lang="en" style="height: 100%;">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Spectral+SC" rel="stylesheet">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="{{site.baseurl}}/css/styles.css">
    <link rel="canonical" href="http://example.com/">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="http://example.com/feed.xml">
</head>

<body style="height: 100%; margin: 0 auto; display: flex; flex-direction: column; overflow-x: hidden; background-color: #f4f6f8;">

  {% include header.html %}

  <section class="main" style="flex: 1; overflow: hidden;">
    <div class="slider text-center position-relative h-100 w-100">
      <div class="slide slide-1 active">
        <h5 class="text-box hidden">
          <span>
            This is a description box for the slide!
          </span>
        </h5>
      </div>
      <div class="slide slide-2">

      </div>
      <div class="slide slide-3">

      </div>
      <div class="slide slide-4">

      </div>
    </div>
  </section>

	{% include footer.html %}
</body>
</html>