---
layout: home-page
---

<!DOCTYPE html>
<html lang="en" style="height: 100%;">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Spectral+SC" rel="stylesheet">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="google-site-verification" content="EEuj-C0sThlla4wlEOyqlHkfKhE1-HSMCXOqULHG3I0" />
    <link rel="shortcut icon" href="{{site.baseurl}}/images/favicon.ico">
    <link rel="stylesheet" href="{{site.baseurl}}/css/styles.css">
    <link rel="canonical" href="http://example.com/">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="http://example.com/feed.xml">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125032510-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-125032510-1');
    </script>
</head>

<body style="height: 100%; margin: 0 auto; display: flex; flex-direction: column; overflow-x: hidden; background-color: #f4f6f8;">

  {% include header.html %}

  <section class="main d-none d-md-block" style="flex: 1; overflow: hidden;">
    <div class="slider text-center position-relative h-100 w-100">
      <div class="slide slide-1 active">
      </div>
      <div class="slide slide-2">

      </div>
      <div class="slide slide-3">

      </div>
      <div class="slide slide-4">

      </div>
      <div class="text-box hidden">
        <div class="box-container">
          <h5 class="m-0 p-1">
            <b>New Client Special!</b>
          </h5>
          <h5 class="m-0 p-1">
            <b>Two Private Lessons for $99</b>
          </h5>
        </div>
      </div>
    </div>
  </section>

<!-- mobile section -->
  <section class="main d-block d-md-none" style="flex: 1; overflow: hidden;">
    <div class="slider text-center position-relative h-100 w-100">
      <div class="slide mobile active"></div>
      <div class="text-box-mobile hidden">
        <div class="box-container">
          <h5 class="m-0 p-1">
            <b>New Client Special!</b>
          </h5>
          <h5 class="m-0 p-1">
            <b>Two Private Lessons for $99</b>
          </h5>
        </div>
      </div>
    </div>
  </section>

	{% include footer-landing.html %}
</body>
</html>