<footer class="footer d-flex">
	<section style="max-width: 991px;" class="align-self-center m-auto">
		<div class="copyright">
			<span>Created by Someone &#169 (2017)</span>
		</div>
	</section>

	<script>
		var i = 2;
		var mouseOver = false;

		mouseOverStatus = function() {
				mouseOver = true;
		}

		mouseOutStatus = function() {
				mouseOver = false;
		}
		
		setInterval(function() {
			if (i <= 4 && !mouseOver) {
				document.querySelector(".slide" + i).classList.add('active');
				i++;
			} else if (i > 4 && !mouseOver) {
				i = 2;
				document.querySelector(".slide2").classList.remove('active');
				document.querySelector(".slide3").classList.remove('active');
				document.querySelector(".slide4").classList.remove('active');
			}
		}, 10000);

	</script>
</footer>