<footer class="footer d-flex">
	<section class="align-self-center m-auto">
		<div class="copyright">
			<span>Created by Someone &#169 (2017)</span>
		</div>
	</section>

	<script>
		// Contact Form Ajax

		$('#contact-form').submit(function(e) {
			var name = document.getElementById('name'),
					email = document.getElementById('email'),
					message = document.getElementById('message');

			if (!name.value || !email.value || !message.value) {
				console.log("error with the credentials!!!");
			} else {
				$.ajax({
					url: "https://formspree.io/vortex6688@gmail.com", 
					method: "POST",
					data: $(this).serialize(),
					dataType: "json"
				});

				e.preventDefault()
				$(this).get(0).reset()
				console.log("message sent!!!");
			}
		});

		// Smooth Scrolling Navigation
		function scrollNavigate(itemClass, itemLink) {
			if (document.querySelector(itemClass)) {
					document.querySelector(itemClass).scrollIntoView({ behavior: 'smooth' });
					document.querySelector("nav").classList.add('hidden');
					document.querySelector(".mobile-nav-button").classList.remove('d-none');
					document.querySelector(".mobile-nav-button-close").classList.add('d-none');
					document.querySelector(".schedule").classList.remove('shown');
					document.querySelector("body").classList.remove('overflow-y-hidden');
			} else {
					window.location.href = itemLink;
			}
		}

		// Open and close mobile navigation
		function openNav() {
				document.querySelector("nav").classList.remove('hidden');
				document.querySelector(".mobile-nav-button").classList.add('d-none');
				document.querySelector(".mobile-nav-button-close").classList.remove('d-none');
				document.querySelector(".schedule").classList.remove('shown');
				document.querySelector("body").classList.remove('overflow-y-hidden');
		}

		function closeNav() {
				document.querySelector("nav").classList.add('hidden');
				document.querySelector(".mobile-nav-button").classList.remove('d-none');
				document.querySelector(".mobile-nav-button-close").classList.add('d-none');
		}

		//schedule viewing
		function viewSchedule() {
			document.querySelector(".schedule").classList.add('shown');
			//make sure if  mobile nav is open, opening schedule will hide the navigation and the close button
			document.querySelector("nav").classList.add('hidden');
			document.querySelector(".mobile-nav-button-close").classList.add('d-none');
			document.querySelector(".mobile-nav-button").classList.remove('d-none');
			document.querySelector("body").classList.add('overflow-y-hidden');
		}

		function closeSchedule() {
			document.querySelector(".schedule").classList.remove('shown');
			document.querySelector("body").classList.remove('overflow-y-hidden');
		}
	</script>
</footer>