<header>
  <div class="row mx-auto justify-content-between">
    <div class="col-lg-2 col-md-3 col-5 py-2 py-md-0 pl-lg-4 pl-3 align-self-center text-left">
      <img class="mt-2 mb-1 p-md-2" style="height: auto; width: 100%; max-width: 12em;" src="{{site.baseurl}}/images/logo-dance.png" />
    </div>
    <div class="d-flex d-lg-none py-2 pr-4 align-self-center justify-content-end">
      <img onclick="openNav()" class="mobile-nav-button my-2 p-md-2" src="{{site.baseurl}}/images/mobile-menu-open.png" />
      <img onclick="closeNav()" class="mobile-nav-button-close d-none my-2 p-md-2" src="{{site.baseurl}}/images/mobile-menu-close.png" />
    </div>
    <nav class="col-12 col-lg d-flex flex-row flex-wrap p-0 pr-lg-4 mx-auto hidden align-items-center justify-content-center justify-content-lg-end text-center">
      <a class="col-12 col-sm-5 col-lg-auto py-1" href="/">Home</a>
      <a class="col-12 col-sm-5 col-lg-auto py-1" onclick="scrollNavigate('.about', '/content#about')">About Us</a>
      <a class="col-12 col-sm-5 col-lg-auto py-1" onclick="scrollNavigate('.team', '/content#team')">Our Team</a>
      <a class="col-12 col-sm-5 col-lg-auto py-1" onclick="scrollNavigate('.services', '/content#services')">Services</a>
      <a class="col-12 col-sm-5 col-lg-auto py-1" onclick="scrollNavigate('.contact', '/content#contact')">Contact Us</a>
      <div class="col-12 col-sm-5 col-lg-auto py-1 d-flex flex-lg-column justify-content-center">
        <a class="col-auto py-1" target="_blank" href="https://www.facebook.com/eksprsadance/">
          <img class="icon-lg" src="{{site.baseurl}}/images/facebook.png" />
        </a>
        <a class="col-auto py-1" target="_blank" href="https://www.instagram.com/eksprsa_dance/?hl=en">
          <img class="icon-lg" src="{{site.baseurl}}/images/instagram-round.png" />
        </a>
      </div>
    </nav>
  </div>
</header>