<header>
    <div class="row mx-auto justify-content-between">
      <div class="col-2 shrink py-2 pl-4 align-self-center text-md-left text-center">
        <img class="m-2 p-md-2" style="height: auto; width: 100%; max-width: 14em;" src="{{site.baseurl}}/images/logo-dance.png" />
      </div>
      <nav class="m-md-2 pr-4 mx-auto col d-flex flex-row align-items-end justify-content-center justify-content-lg-end text-center">
        <a class="pr-4" href="/">Home</a>
        <a class="pr-4" href="{{ site.baseurl}}/content#about">About Us</a>
        <a class="pr-4" href="{{ site.baseurl}}/content#team">Our Team</a>
        <a class="pr-4" href="{{ site.baseurl}}/content#events">Events</a>
        <a class="pr-4" href="{{ site.baseurl}}/content#services">Services</a>
        <a class="pr-4" href="{{ site.baseurl}}/content#contact">Contact Us</a>
      </nav>
    </div>
</header>