header {
  background: rgba(250,250,250,0.5);
  width: 100%;
  height: 8em;
  position: absolute;
  z-index: $zindex-sticky;

  .logo-contact {
    z-index: $zindex-sticky;
    font-weight: $font-weight-bold;
    color: $white;
    bottom: 0.3em;
    left: 1.5em;
  }

  nav {
    text-transform: uppercase;
    font-weight: $font-weight-bold;
  }

  @media (max-width: 768px) {
    nav {
      font-size: $font-size-sm;
    }
  }
}