header {
  background: $gray-100;

  nav {
    text-transform: uppercase;

    i {
      color: $gray-500;
    }
  }

  @media (max-width: 768px) {
    nav {
      font-size: $font-size-sm;
    }
  }
}