//relative position is specific for the content pages only
.relative {
  header {
    width: 100%;
    position: fixed;
    z-index: $zindex-sticky;
    top:0;
  }
}

header {
  width: 100%;
  position: absolute;
  z-index: $zindex-sticky;

  > div {
    background: rgba(250,250,250,0.7);
  }

  nav {
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    font-family: 'Spectral SC', serif;

    a {
      text-decoration: none;
      color: $black;
      white-space: nowrap;
      font-size: 1.15em;
      cursor: pointer;
    }
  }

  @media (max-width: 768px) {
    nav {
      font-size: $font-size-sm;
    }
  }
}